<template>
    <div class="app-weather">
        <ul class="app-weather__list">
            <li class="app-weather__item">
                <b>Temperatura:</b>
                <span class="app-weather__temperature"></span>
            </li>
            <li class="app-weather__item">
                <b>Odczuwalna:</b>
                <span class="app-weather__feels"></span>
            </li>
            <li class="app-weather__item">
                <b>Ciśnienie:</b>
                <span class="app-weather__pressure"></span>
            </li>
            <li class="app-weather__item">
                <b>Wilgotność:</b>
                <span class="app-weather__humidity"></span>
            </li>
            <li class="app-weather__item">
                <b>Prędkość wiatru:</b>
                <span class="app-weather__wind-speed"></span>
            </li>
            <li class="app-weather__item">
                <b>Zachmurzenie:</b>
                <span class="app-weather__clouds"></span>
            </li>
            <li class="app-weather__item">
                <b>Cechy:</b>
                <span class="app-weather__features"></span>
            </li>
        </ul>
    </div>
</template>
